<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @pin.name %>
</p>
<p>
  <strong>Foto:</strong>
  <img src="<%= @pin.photo %>" alt="Foto del pin" width="200">
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @pin.description %>
</p>

<p>
	<a href="<%= pinsof_pin_path(@pin.user) %>">Ver pins de usuario</a>
</p>
<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>
